@font-face {
  font-family: "Potter";
  src: url("/fonts/Harry Potter.ttf") format("truetype");
  font-weight: 400;
  font-style: normal;
  font-display: swap;
}
.paper-noise {
  background-image: radial-gradient(
    rgba(54, 49, 44, 0.05) 1px,
    transparent 1px
  );
  background-size: 2px 2px;
}
